@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.searchBarInput{
    height:30px;
    font-size:14pt;
    width:600px;
    margin-right:10px;
    margin-top:40px;
    border-radius: 15px;
    border:none;
    font-family: 'Bebas Neue', cursive;
    padding-left: 10px;
}

.searchBarInput:hover{
    cursor:text;
}
.searchBarButton{
height:30px;
width:70px;
color:white;
background-color:black ;
border-radius: 15px;
border:none;
font-size:14px;
align-content: center;
font-family: 'Bebas Neue', cursive;
transition: box-shadow .3s;
}

.searchBarButton:hover{
    cursor:pointer;
    box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.3);
}
